html {
    font-family: 'Courier New', Courier, monospace;
}
input {
    height: 1.5rem;
    width: 15rem;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    padding: 0.75rem;
}

.open-close-menu{
    display: flex;
    justify-content: right;
}

.open-close-arrow {
    width: 1rem;
    height: 1rem;
}

.item-delete {
    width: 1rem;
    height: 1rem;
    float: right;
}

.decreasing {
    width: 0.1rem;
    transition-duration: 3s;
}

.normal {
    width: 20rem;
    transition-duration: 3s;
}

.menu {
    height: 100vh;
    width: 20rem;
}

.new-item-button {
    height: 2rem;
    width: 10rem;
    margin-top: 0.5rem;
}

#menu-item {
    text-align: center;
}

.counter {
    font-size: 24px;
    text-align: center;
}


